<h1>Nouvel article</h1>


<%= simple_form_for(@post) do |f| %>
 <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
 </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content, class: "form-control", data: {controller: 'mentions', target: 'mentions.field' }%>
  </div>
  <div class="field">
    <%= f.association :attraction %>
    <%= f.input :published, label: 'Publier maintenant' %>
    <%= f.submit %>
  </div>
<% end %>