<h1><%= @post.title %> </h1>
<%= render 'share', ref_path: @ref_path, post: @post %>
<h4>by @<%= link_to @post.user.username, user_path(@post.user) %> for 
<%= link_to @post.attraction.name, attraction_path(@post.attraction) %></h4>
<p class="article"><%= @post.content %></p>
